Redirect /dev/reporting-issues /dev/infra-contact
Redirect /dev/reporting-issues.html /dev/infra-contact
Redirect /dev/blogs /dev/committer-blogs
Redirect /dev/blogs.html /dev/committer-blogs
Redirect /dev/apache-blogs /dev/project-blogs
Redirect /dev/apache-blogs.html /dev/project-blogs
Redirect /dev/project-creation https://incubator.apache.org/
Redirect /dev/project-creation.html https://incubator.apache.org/
Redirect /dev/mirrors.html /mirrors
Redirect /dev/mirrors /mirrors

# Pages moved to infra.apache.org:
#RedirectMatch 301 /dev/apply-license(.*) https://infra.apache.org/apply-license$1
#Did not work; try simple-minded approach
Redirect 301 /dev/apply-license. https://infra.apache.org/apply-license.html
Redirect 301 /dev/apply-license.html https://infra.apache.org/apply-license.html

# Another try; let local host add .html
Redirect /dev/asfbot.html https://infra.apache.org/asfbot.html
