.sponsors {
  min-width: 1100px;
  padding-top: 0px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 150px;
  padding: 10px !important;
}

#platinum img {
  width: 400px;
  height: 179px;
}


#gold img {
  width: 223px;
  height: 100px;
}

.sponsors ul li p {
  
  
  z-index: 9999;
  max-width: 400px;
}

.sponsors ul li {
  padding: 10px !important;
}
