RewriteEngine On
RewriteCond %{REQUEST_URI} !^/foundation/records/$
RewriteCond %{REQUEST_URI} !^/foundation/records/index.html$
RewriteRule ^/?(.*)$ https://svn.apache.org/repos/asf/infrastructure/site/trunk/content/foundation/records/$1 [P]
