RewriteEngine On
RewriteRule ^/(.+)\.html$ /$1 [R=301,L]
Redirect Permanent /foundation/martin.html /memorials/martin_poeschl.html

Redirect /travel https://tac.apache.org

# Site redesign: Summer 2023
Redirect /apache-name /history

ErrorDocument 404 /404
