RedirectMatch /foundation/ASF_Contributor_License_\d(_form)?\.pdf$ /licenses/#clas
RedirectMatch permanent /foundation/roles.html(.*)$ /foundation/how-it-works.html$1
Redirect /foundation/committers.html https://home.apache.org/committer-index.html
Redirect /foundation/projects.html https://home.apache.org/committers-by-project.html
Redirect /foundation/licence-FAQ.html /foundation/license-faq.html
Redirect /foundation/contributing-v5.html /foundation/contributing.html
Redirect /foundation/policies/privacy.html https://privacy.apache.org/policies/privacy-policy-public.html
Redirect /foundation/thanks_old.html /foundation/thanks.html

# Site redesign: Summer 2023
# Board contains other files, so must only redirect the index
Redirect /foundation/board/index.html /foundation/leadership

# Redirect both with and without .html:
Redirect /foundation/contributing      /foundation/individual-supporters
Redirect /foundation/contributing.html /foundation/individual-supporters
Redirect /foundation/thanks      /foundation/sponsors
Redirect /foundation/thanks.html /foundation/sponsors
# Note: this won't work until preFAQ.html is removed
Redirect /foundation/preFAQ      /foundation/faq
Redirect /foundation/preFAQ.html /foundation/faq

# ASFSITE-19 - broken link due to page move
Redirect /foundation/how-it-works.html /foundation/how-it-works/
