RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteRule ^/(.+)\.html$ /$1 [R=301,L]
Redirect Permanent /foundation/martin.html /memorials/martin_poeschl.html

Redirect /travel https://tac.apache.org

# Site redesign: Summer 2023
Redirect /apache-name /history
