{# extends "base.html" - need to fix that first #}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}
    <h1>Tags for {{ SITENAME }}</h1>
    <ul>
    {% for tag, articles in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
    {% for page in pages %}
        {% if page.tags %}
        {% for tag in page.tags.split(",") %}
            {{ tag }} {{ page.url }} {{ page.title}}
            <br>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}

