RedirectMatch /foundation/ASF_Contributor_License_\d(_form)?\.pdf$ /licenses/#clas
RedirectMatch permanent /foundation/roles.html(.*)$ /foundation/how-it-works.html$1
Redirect /foundation/committers.html https://home.apache.org/committer-index.html
Redirect /foundation/projects.html https://home.apache.org/committers-by-project.html
Redirect /foundation/licence-FAQ.html /foundation/license-faq.html
Redirect /foundation/contributing-v5.html /foundation/contributing.html
Redirect /foundation/policies/privacy.html https://privacy.apache.org/policies/privacy-policy-public.html
