RedirectMatch /foundation/ASF_Contributor_License_\d(_form)?\.pdf$ http://www.apache.org/licenses/#clas
RedirectMatch permanent /foundation/roles.html(.*)$ http://www.apache.org/foundation/how-it-works.html$1
Redirect /foundation/committers.html http://home.apache.org/committer-index.html
Redirect /foundation/projects.html http://home.apache.org/committers-by-project.html
Redirect /foundation/licence-FAQ.html http://www.apache.org/foundation/license-faq.html
