# Redirect to current event website
# This should agree with
# https://raw.githubusercontent.com/apache/comdev-events-site/main/static/.htaccess
#  and the default event in
# https://www.apachecon.com/event-images/snippet.js
Redirect /events/current-event.html https://eu.communityovercode.org/
Redirect /events/current-event https://eu.communityovercode.org/
