# MANAGED BY TOOLING - browse at https://www.apache.org/logos/
RewriteEngine On
# Release catalog PURL indentifiers
RewriteRule ^(.*) https://release-catalog.apache.org/the+asf/$1 [P,L]

# Redirect 302 /the+asf/ https://release-catalog.apache.org/the+asf/
