Redirect /dev/reporting-issues /dev/infra-contact
Redirect /dev/reporting-issues.html /dev/infra-contact
Redirect /dev/blogs /dev/committer-blogs
Redirect /dev/blogs.html /dev/committer-blogs
Redirect /dev/apache-blogs /dev/project-blogs
Redirect /dev/apache-blogs.html /dev/project-blogs
Redirect /dev/project-creation http://incubator.apache.org/
Redirect /dev/project-creation.html http://incubator.apache.org/
