Redirect /dev/reporting-issues /dev/infra-contact
Redirect /dev/reporting-issues.html /dev/infra-contact
Redirect /dev/blogs /dev/committer-blogs
Redirect /dev/blogs.html /dev/committer-blogs
Redirect /dev/apache-blogs /dev/project-blogs
Redirect /dev/apache-blogs.html /dev/project-blogs
Redirect /dev/project-creation https://incubator.apache.org/
Redirect /dev/project-creation.html https://incubator.apache.org/
Redirect /dev/mirrors.html /mirrors
Redirect /dev/mirrors /mirrors

# page reverted to main site (LEGAL-644)
Redirect 301 /dev/apply-license      /legal/apply-license.html
Redirect 301 /dev/apply-license.html /legal/apply-license.html

# Pages moved to infra.apache.org:

# Another try; let local host add .html
Redirect /dev/asfbot.html https://infra.apache.org/asfbot.html

Redirect /dev/committers      https://infra.apache.org/committers.html
Redirect /dev/committers.html https://infra.apache.org/committers.html

Redirect /dev/contrib-email-tips      https://infra.apache.org/contrib-email-tips.html
Redirect /dev/contrib-email-tips.html https://infra.apache.org/contrib-email-tips.html

Redirect /dev/contributors      https://infra.apache.org/contributors.html
Redirect /dev/contributors.html https://infra.apache.org/contributors.html

Redirect /dev/crypto      https://infra.apache.org/crypto.html
Redirect /dev/crypto.html https://infra.apache.org/crypto.html

Redirect /dev/git      https://infra.apache.org/git.html
Redirect /dev/git.html https://infra.apache.org/git.html

Redirect /dev/infra-ban      https://infra.apache.org/infra-ban.html
Redirect /dev/infra-ban.html https://infra.apache.org/infra-ban.html

Redirect /dev/infra-contact      https://infra.apache.org/infra-contact.html
Redirect /dev/infra-contact.html https://infra.apache.org/infra-contact.html

Redirect /dev/infra-mail      https://infra.apache.org/infra-mail.html
Redirect /dev/infra-mail.html https://infra.apache.org/infra-mail.html

Redirect /dev/infra-volunteer      https://infra.apache.org/infra-volunteer.html
Redirect /dev/infra-volunteer.html https://infra.apache.org/infra-volunteer.html

Redirect /dev/key-transition      https://infra.apache.org/key-transition.html
Redirect /dev/key-transition.html https://infra.apache.org/key-transition.html

Redirect /dev/licensing-howto      https://infra.apache.org/licensing-howto.html
Redirect /dev/licensing-howto.html https://infra.apache.org/licensing-howto.html

Redirect /dev/machines      https://infra.apache.org/machines.html
Redirect /dev/machines.html https://infra.apache.org/machines.html

Redirect /dev/new-committers-guide      https://infra.apache.org/new-committers-guide.html
Redirect /dev/new-committers-guide.html https://infra.apache.org/new-committers-guide.html

Redirect /dev/open-access-svn      https://infra.apache.org/open-access-svn.html
Redirect /dev/open-access-svn.html https://infra.apache.org/open-access-svn.html

Redirect /dev/openpgp      https://infra.apache.org/openpgp.html
Redirect /dev/openpgp.html https://infra.apache.org/openpgp.html

Redirect /dev/project-blogs      https://infra.apache.org/project-blogs.html
Redirect /dev/project-blogs.html https://infra.apache.org/project-blogs.html

Redirect /dev/project-names      https://infra.apache.org/project-names.html
Redirect /dev/project-names.html https://infra.apache.org/project-names.html

Redirect /dev/project-site      https://infra.apache.org/project-site.html
Redirect /dev/project-site.html https://infra.apache.org/project-site.html

Redirect /dev/publishing-maven-artifacts      https://infra.apache.org/publishing-maven-artifacts.html
Redirect /dev/publishing-maven-artifacts.html https://infra.apache.org/publishing-maven-artifacts.html

Redirect /dev/release-distribution      https://infra.apache.org/release-distribution.html
Redirect /dev/release-distribution.html https://infra.apache.org/release-distribution.html

Redirect /dev/release-download-pages      https://infra.apache.org/release-download-pages.html
Redirect /dev/release-download-pages.html https://infra.apache.org/release-download-pages.html

Redirect /dev/release-publishing      https://infra.apache.org/release-publishing.html
Redirect /dev/release-publishing.html https://infra.apache.org/release-publishing.html

Redirect /dev/release-signing      https://infra.apache.org/release-signing.html
Redirect /dev/release-signing.html https://infra.apache.org/release-signing.html

Redirect /dev/release      /legal/release-policy.html
Redirect /dev/release.html /legal/release-policy.html

Redirect /dev/repository-faq      https://infra.apache.org/repository-faq.html
Redirect /dev/repository-faq.html https://infra.apache.org/repository-faq.html

Redirect /dev/services      https://infra.apache.org/services.html
Redirect /dev/services.html https://infra.apache.org/services.html

Redirect /dev/status      https://status.apache.org/
Redirect /dev/status.html https://status.apache.org/

Redirect /dev/svngit2jira      https://infra.apache.org/svngit2jira.html
Redirect /dev/svngit2jira.html https://infra.apache.org/svngit2jira.html

Redirect /dev/user-email      https://infra.apache.org/committer-email.html
Redirect /dev/user-email.html https://infra.apache.org/committer-email.html

Redirect /dev/user-ssh-windows      https://infra.apache.org/user-ssh.html
Redirect /dev/user-ssh-windows.html https://infra.apache.org/user-ssh.html

Redirect /dev/user-ssh      https://infra.apache.org/user-ssh.html
Redirect /dev/user-ssh.html https://infra.apache.org/user-ssh.html

Redirect /dev/version-control      https://infra.apache.org/version-control.html
Redirect /dev/version-control.html https://infra.apache.org/version-control.html

Redirect /dev/writable-git      https://infra.apache.org/git-primer.html
Redirect /dev/writable-git.html https://infra.apache.org/git-primer.html
