# removed pages
Redirect /foundation/press/central-services-request /foundation/press/central-services-request
Redirect /foundation/press/index/ /foundation/press/
Redirect /foundation/press/index /foundation/press/


