RewriteEngine On
RewriteCond ^$ /foundation/records/ off
RewriteCond ^$ /foundation/records/index.html off
RewriteRule ^/?(.*)$ https://svn.apache.org/repos/asf/infrastructure/site/trunk/content/foundation/records/$1 [P]
